* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.main{
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt;

}

p{
    display: block;
    margin: 8px;
    font-size: 11pt;
}

.pi{
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}

hr{
    margin-top: 0 0 100 0;
}
.heigh {
    height: 11pt;
}


h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    page-break-after: avoid;
    padding-top: 20pt;
}

.header{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.bold{
font-weight: 700;
}
.head2 {
 color: #000;
 font-weight: 700;
 text-decoration: none;
 vertical-align: baseline;
 font-size: 16pt;
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
}
.list{
    padding: 0;
    margin: 0;
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
display: list-item;
}

.lis {
    margin-left: 36pt;
    padding-left: 0pt;
}
.mars{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal;
}